.jumbotron {
    background-image: url('../img/robot.png');
}

h1 {
    font-family: monospace;
    color: rgb(187, 0, 93);
}

.container {
    font-family: monospace;
}

#response {
    text-align: center;
    font-size: 100px;
}